*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: grey;
}
header>nav>ul>{
    list-style-type: none;
    float: right;
}
header>nav>img{
    height: 64px;
}
header>nav>ul>li{
    display: inline-block;
    padding: 25px;
}
header>nav>ul>li:hover a{
    color: #fff;
}
header>nav>ul>li>a{
    color: #fff;
    text-decoration: none;
}
/* P11 */
.banner1{
    background-color: bisque;
}
.bannerCommonClass{
    color: gray;
    padding: 30px;
    height: 300px;
    text-align: center;
}
.bannerCommonClass>h1{
    font-size: 50px;
}
.bannerCommonClass>h1:hover{
    color: #000;
}
.banner2{
    background-image: url(../images/pin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
