.cssColor1{
    background-color: grey;
}
.cssColor2{
    background-color: blue;
}
.cssColor3{
    background-color: red;
}
.commonCssColors{
    color: white;
    margin: 20px;
    padding: 20px;
}

